body {
    font-family:'Open Sans', Arial, serif;
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    bottom: 0;
    overflow:auto;
    background-color: #dbd7cf;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:'Open Sans', Arial, serif;
    font-weight: 400;
    line-height: 1.1;
}
h2 {
    margin-top: 0;
}
.page-header {
    border-bottom: 1px solid #ECE7DF;
}
.navbar {
    margin-bottom: 0;
    border: none;
    border-top: 1px solid #FF720B;
}
#navbar {
    box-shadow: 0 -1px 7px #000;
}
.navbar-inverse {
    background-color: #101010;
}
.navbar-toggle {
    margin-left: 15px;
    float: left;
    display: block !important;
}
.nav-tabs {
    border: none;
}
.nav-tabs li a {
    color: #b1b1b1 !important;
    border: none !important;
}
.nav-tabs li.active a {
    color: white !important;
    border: none !important;
}
.nav-tabs li.active a {
    border: none !important;
}
.nav-tabs li a:hover {
    color: white !important;
    border: none !important;
}
.navbar .nameplate {
    background: url('http://media.lasvegassun.com/media/projects/finding-nevada/img/lvsun.png') center center no-repeat;
    height: 45px;
    margin-left: 15px;
    width: 80px;
    top: 5px;
    position: relative;
    float: left;
}
.navbar .logo {
    margin-top: 2px;
    padding: 0 25px;
}
.navbar-ad {
    display: block;
    height: 45px;
    width: 185px;
    background-color: #202020;
    margin-right: 15px;
    float: right !important;
}
.dropdown-menu {
    background-color: #101010;
    color: white;
    border: none;
    padding: 0;
}
.dropdown-menu>li>a {
    color: white;
    padding: 6px 20px;
}
#storyListContainer {
    margin-top: 51px;
    background-color: #EDEBE6;
    border: 1px solid #C4C2BE;
}
#storyList h1 {
    font-weight: 300;
    margin-top: 30px;
}
#storyList .tripTease {
    font-style: italic;
}
#storyList article {
    overflow: hidden;
}
#storyList .page-header {
    width: 100%;
    float: left;
}
#storyList h2 {
    font-family:'Open Sans', Arial, serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
}
#storyList h2 .day {
    color: #FF720B;
    vertical-align: 1px;
    font-weight: 700;
    text-transform: uppercase;
}
#storyList h2 .date {
    color: #FF720B;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
#storyList h3 {
    margin-top: 0;
}
.contentItem {
    margin-bottom: 30px;
    float: left;
    padding-bottom: 20px;
    border-bottom: solid 1px #C4C2BE;
}
.contentItem h3 a {
    color: black;
    text-transform: uppercase;
}
.contentItem .caption {
    font-weight: 700;
}
.contentItem.photo img, .contentItem.sketchpad img, .contentItem.photogallery img {
    border-radius: 2px;
}
.contentItem.video {
    /*width: 100%;*/
}
.jumbotron {
    margin: 0;
    padding: 0;
}
#map {
    background-color: transparent;
    padding: 0;
    z-index: 100;
}
.mapStats {
    position: absolute;
    top: auto;
    bottom: 50px;
    color: white;
    font-size: 14px;
    background-color: rgba(16, 16, 16, 0.9);
    height: auto;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
}
.mapStats > span {
    padding: 3px 0;
}
.mapStats .mmLocation {
    display: block;
    text-align: center;
    letter-spacing: 1px;
}
.mapStats .mmCity {
    display: inline;
    float: left;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0 15px;
    border-right: solid 1px #333;
}
.mapStats .mmStats {
    display: inline;
    float: left;
    overflow: auto;
    padding-left: 15px;
}
.mapStats .mmStats .mmStatGroup {
    float:left;
}
.mapStats .mmStats .mmStatGroup span {
    display: block;
    text-align: center;
}
.mapStats .mmStats .label {
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 300;
}
.mapStats .mmStats .dial {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2px;
    margin: 0 5px;
    padding: 0;
    padding-left: 1px;
    border-bottom: 1px solid #333;
    background: #000000;
    /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #4c4c4c 39%, #000000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(39%, #4c4c4c), color-stop(100%, #000000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000000 0%, #4c4c4c 39%, #000000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000000 0%, #4c4c4c 39%, #000000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000000 0%, #4c4c4c 39%, #000000 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%, #4c4c4c 39%, #000000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
}
.mapLegend > span {
    display: block;
    margin-left: 7px;
    margin-bottom: 3px;
}
.mapLegend .sprites {
    float: left;
    margin-right: 5px;
}
.shade {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .75;
    display: none;
    z-index: 600;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #303030;
}
.navbar-left {
    float: left !important;
}
.nav .dropdown .dropdown-toggle {
    font-size: 1.2em;
}
.nav .dropdown-menu li {
    border-left: solid 2px;
}
.nav .dropdown-menu li.t1 {
    border-color: #FF720B;
}
.nav .dropdown-menu li.active.t1 a, .nav .dropdown-menu li.t1 a:hover {
    background-color: #FF720B !important;
}
.nav .dropdown-menu li.t2 {
    border-color: #9efa01;
}
.nav .dropdown-menu li.active.t2 a, .nav .dropdown-menu li.t2 a:hover {
    background-color: #9efa01 !important;
}
.nav .dropdown-menu li.t3 {
    border-color: #e62a8e;
}
.nav .dropdown-menu li.active.t3 a, .nav .dropdown-menu li.t3 a:hover {
    background-color: #e62a8e !important;
}
.nav .dropdown-menu li.t4 {
    border-color: #ffd004;
}
.nav .dropdown-menu li.active.t4 a, .nav .dropdown-menu li.t4 a:hover {
    background-color: #ffd004 !important;
}
.nav .dropdown-menu li.t5 {
    border-color: #ff2200;
}
.nav .dropdown-menu li.active.t5 a, .nav .dropdown-menu li.t5 a:hover {
    background-color: #ff2200 !important;
}
.nav .dropdown-menu li.t6 {
    border-color: #00bcff;
}
.nav .dropdown-menu li.active.t6 a, .nav .dropdown-menu li.t6 a:hover {
    background-color: #00bcff !important;
}
.nav .dropdown-menu li.t7 {
    border-color: #e13cf5;
}
.nav .dropdown-menu li.active.t7 a, .nav .dropdown-menu li.t7 a:hover {
    background-color: #e13cf5 !important;
}
.nav .dropdown-menu li.t8 {
    border-color: #FF720B;
}
.nav .dropdown-menu li.active.t8 a, .nav .dropdown-menu li.t8 a:hover {
    background-color: #FF720B !important;
}
#day-nav li.active:after {
   content:"";
   display:block; /* reduce the damage in FF3.0 */
   position:absolute;
   bottom:-6px;
   left:11px;
   width:0;
   border-width:7px 7px 0;
   border-style:solid;
   border-color:#303030 transparent;
}
.popovers {
    display: none;
}
a.anchor {
    display: block;
    position: relative;
    top: -376px;
    visibility: hidden;
}
.my-div-icon {
    /*border: 1px solid white;
		border-radius: 100%;
		height: 20px;
		width: 20px;*/
}
.t1 .my-div-icon {
    background-color: #FF720B;
}
.t2 .my-div-icon {
    background-color: #9efa01;
}
.t3 .my-div-icon {
    background-color: #e62a8e;
}
.t4 .my-div-icon {
    background-color: #ffd004;
}
.t5 .my-div-icon {
    background-color: #ff2200;
}
.t6 .my-div-icon {
    background-color: #00bcff;
}
.t7 .my-div-icon {
    background-color: #e13cf5;
}
a.anchor {
    top: -51px;
}
#rightRailAd {
    width: 300px;
    height: 250px;
    margin-top: 60px;
    background-color: #666;
}
div#bottom-bar-container {
    bottom: 0;
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: rgba(16, 16, 16, 0.9);
}
.powerbarAd {
    width: 1000px;
    display: block;
    height: 40px;
    margin: 0 auto;
    position: relative;
}
.sprites { background-image: url(../img/icons/icon-sprite.png); background-color: transparent; background-repeat: no-repeat; display: block;}
.icon-almanac-15 { width: 15px; height: 13px; background-position: -72px 0; }
.icon-almanac-20 { width: 20px; height: 18px; background-position: -35px -31px; }
.icon-almanac-34 { width: 34px; height: 30px; background-position: 0 -74px; }
.icon-blog-15 { width: 13px; height: 15px; background-position: -35px 0; }
.icon-blog-20 { width: 17px; height: 20px; background-position: -72px -30px; }
.icon-blog-34 { width: 34px; height: 38px; background-position: 0 0; }
.icon-photo-15 { width: 15px; height: 12px; background-position: -35px -71px; }
.icon-photo-20 { width: 20px; height: 16px; background-position: -35px -84px; }
.icon-photo-34 { width: 34px; height: 28px; background-position: -56px -85px; }
.icon-postcard-15 { width: 15px; height: 14px; background-position: -56px -20px; }
.icon-postcard-20 { width: 20px; height: 19px; background-position: -35px -126px; }
.icon-postcard-34 { width: 34px; height: 33px; background-position: -56px -114px; }
.icon-sketchpad-15 { width: 12px; height: 15px; background-position: -72px -14px; }
.icon-sketchpad-20 { width: 20px; height: 24px; background-position: -35px -101px; }
.icon-sketchpad-34 { width: 34px; height: 42px; background-position: 0 -105px; }
.icon-travelogue-15 { width: 15px; height: 15px; background-position: -56px -35px; }
.icon-travelogue-20 { width: 20px; height: 20px; background-position: -35px -50px; }
.icon-travelogue-34 { width: 34px; height: 34px; background-position: 0 -39px; }
.icon-video-15 { width: 15px; height: 14px; background-position: -35px -16px; }
.icon-video-20 { width: 20px; height: 19px; background-position: -51px 0; }
.icon-video-34 { width: 34px; height: 33px; background-position: -56px -51px; }


/*LEAFLET CLUSTER STYLES*/
 .leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
    transition: transform 0.2s ease-out, opacity 0.2s ease-in;
}
.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}
.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}
.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}
.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px"Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height: 30px;
}

#cboxContent {
    box-shadow: 0 0 10px 0px #000;
}

/* Gallery lightbox 
===================================== */
.slideshow-block{position:relative;overflow:hidden;}
.slideshow-block a.playButton {border-radius: 2px; position: absolute; z-index: 0; opacity: 0.8; bottom: 0; left:0; width: 100%; display: block; height: 100%; background: url(../img/icons/play.png) center center no-repeat; text-indent: -999em; text-decoration: none;}
.slideshow-block .photo-shade {
    border-radius: 2px;
    background-color: #101010;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .4;
}
/*.slideshow-block a.playButton:hover {position: absolute; z-index: 100; bottom: 0; left:0; width: 100%; height:100%; display: block; text-indent: -999em; text-decoration: none; overflow:hidden;} */
.stickyContainer {width:1000px;height:635px;}
.stickyContainer div.gallery_display {margin: 10px 20px 0 10px;}
.stickyContainer div.closeSticky {float:right;width:105px;height:35px;cursor:pointer;}
.stickyContainer div.gallery_detail {width:1000px;margin-bottom:20px;clear:both;}
.stickyContainer div.gallery_title {margin: 20px 0 10px 0; font-size: 26px;}
.stickyContainer div.gallery_left {float:left;width:715px;height:600px;}
.stickyContainer div.gallery_right {width:285px;height:600px;float:left;clear:right;overflow:hidden;}
.stickyContainer h2.title {margin:20px 0 0 10px;color:#000;text-align:left;}


.modal-backdrop.in {
    opacity: 0.5 !important;
}

.modal-dialog {
    background: inherit !important;
    border: none !important;
    color: inherit !important;
    padding: 10px !important;
    position: static !important;
}